.col-ImageThumb{
	width:3px;
}
.col-ImageThumb img{
	height:100%;
	width:100%;
}

.composite.special{
	background:#E4E6E7;
	background-color:rgba(0,0,0,0.03);
	border:1px solid #D6D9DA;
	border:1px solid rgba(0,0,0,0.07);
	padding:15px 15px 0 15px;
	margin-top:30px;
}

.composite.special .field.checkbox{
	padding-top:7px;
}

.alignExtraLabel{
	margin-left:184px;
	font-weight:bold;
}

.alignExtraLabel label{
	line-height:2em;
}
